h1 {
  color: blue;
  text-align: center;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  /* Chống copy trên web */
  user-select: none;
}
h2 {
  color: green;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  user-select: none;
}
body {
  background-color: #ddd;
  margin: 0 auto; /* Căn giữa auto*/
  border-image: 10px;
}
p {
  text-align: 1.2px;
  user-select: none;
}
h1:hover {
  color: rgb(75, 165, 16);
  font-size: 20px;
}
h2:active {
  color: rgb(205, 50, 50);
  font-size: 50px;
}
a:link {
  color: black;
}
a:visited {
  color: blueviolet;
}
.hinhanh img {
  /* 1. tạo ảnh rộng tối đa
    2. Bo viền ảnh */
  max-width: 700px;
  border-radius: 30px;
  padding: 0 auto;
}
